/*----导航样式----*/
.nav{position: relative; top: 0px; width: 1200px;height: 60px;text-align: center;margin: 0 auto;line-height: 60px;}
.nav ul{width: 100%; margin: 0 auto; display: block; height: 48px;}
.nav ul li{float: left;list-style: none;margin-left: 40px;}
#nav_lifirst{margin-left: 0px;}
.nav a{color: #fff;}
.nav a:hover{padding-bottom:17px; border-bottom:2px solid #fff;color: #fff;}
.nav  dl{width: 80px;display: none;margin-top: 0px;text-align: center;}
.nav  dl dt{padding: 5px;float: left;}
.nav h2{color: #fff;}
.nav li:hover dl{display: block;}
.nav_dl{display: block;position: absolute;top: 60px;height: 80px;width: 1200px;margin: 0 auto;}
/*----焦点图-------*/
.banner{width: 100%;height: 769px;text-align: center;position: relative;}
.banner img{position:absolute;left:0px;top:0px;width: 1800px;height: 769px;z-index:-1;}
/*----项目样式----*/
.project{width:100%;height: 700px;}
.project_img{position: relative;margin: 0 auto;width: 1400px;height: 188px;z-index:-1;text-align: center;margin-top: 34px;line-height: 85px;}
.project_img img{z-index: -1;display: block;position: absolute;}
.project_img h2{color:#c06;}
.project_cases{width: 1200px;margin: 0 auto;}
.project_case{float: left;width: 299px;border-right: 1px dashed #999;text-align: center;color: #999;}
.project_caseright{float: left;width: 299px;text-align: center;color: #999;}
.project span{display: block;margin:0 25px;}
.project_case img {width: 299px;height: 272px;}
/*----新闻-------*/
.newsbackground{width: 100%;height: 456px;background: #f0f8ff;position: relative;margin-top: 0px;}
.news{width: 1200px;height: 300px;position: relative;margin: 0 auto;top: 77px;}
.newsleft{width: 880px;height: 300px;float: left;}
.newsleft_img{width: 380px;height: 300px;float: left;}
.newsleft_textbackground{width: 500px;height: 300px;float: left;background: #fff;}
.newsleft_text{width: 437px;height: 300px;position: relative;margin-left: 24px;}
.newsleft_text li{margin-top: 20px;padding-top: 20px;}
.newsleft_text a:hover{color: #ff359a;}
.newsright{float: right;width: 282px;height: 300px;background: #fff;}
.newsright_img{width: 245px;height: 52px;background: #f0f8ff;position: relative;margin:15px 15px 15px 22px;line-height: 26px;border-radius: 10px 10px 10px 10px;}
.newsright_img img{display: block;position: absolute;left: 80px;float: left;}
.newsright_img p{display: block;position: absolute;left: 120px;top: 15px;}
/*----服务-------*/
.serviceone{width: 100%;height: 640px;background: #fff;position: relative;margin-top: 0px;}
.service{width: 1200px;height: 408px;position: relative;margin: 0 auto;text-align: center;}
.service h2{font-weight: bold;margin: 20px;}
.service p{display: block;margin: 15px;}
.service hr{width: 10%;}
.service_text{width: 1200px;height: 232px;position: relative;text-align: center;margin: 0 auto;}
.service_text h1{color: #ff359a;font-weight: bold;display: block;line-height: 116px;}
.service_text h5{font-weight: bold;}
.service_imgleft{width: 290px;height: 408px;margin-left: 0px;float: left;}
.service_img{width: 290px;height: 408px;float: left;margin-left: 13.3px;}
.servicetwo{width: 100%;height: 644px;background: #f0f8ff;position: relative;margin-top: 0px;}
.servicethree{width: 100%;height: 546px;background: #fff;position: relative;margin-top: 0px;text-align: center;}
.servicethree img{z-index: -1;}

/*----资讯-------*/
.information{width: 100%;height: 930px;background: #f0f8ff;}
.information_header{width: 1200px;height: 164px;position: relative;margin: 0 auto;text-align: center;}
.information_news{position: relative;margin-top: 36px;}
.subnav{height: 72px;width: 1200px;position: relative;margin: 0 auto;}
.subnav li{float: left;padding: 0px 20px 0px 20px;margin-left: 10px;}
.subnav li:hover{border: 1px solid #a0a0a0;border-radius: 10px 10px 10px 10px;}
.subnav a:hover{color: #ff359a;font-weight: bold;}
.information_textbgd{width: 1200px;height: 233px;position: relative;margin: 0 auto;background: #fff;}
.information_text{width: 599px;height: 233px;float: left;border-right: 1px dashed;float: left;}
.information_left{position: relative;margin-top: 28px;margin-left: 33px;width: 276px;height: 178px;float: left;}
.information_right{width: 290px;height: 178px;float: left;position: relative;margin-top: 28px;text-align: center;}
.information_right li{margin-top: 15px;}
#information_textright{border-right:0px; }

/*----案例---------*/
.cases{position: relative;margin-top: 0px;width: 100%;height: 620px;}
.cases_header{position: relative;margin-top: 0px;width: 100%;height: 150px;background: #ff359a;z-index: -1;}
.casesleft{width: 445px;height: 445px;position: absolute;top: 80px;left: 300px;background: #f0f8ff;border-radius: 0px 25px 0px 0px;}
.casesleft img{display: block;position: absolute;top: 132px;left: 44px;}
.casesleft h1{display: block;position: relative;margin-top: 28px;margin-left:40px;font-weight: bold;color: #ff359a;}
.casesleft h5{display: block;position: relative;margin-top: 11px;margin-left:40px;font-weight: bold;}
.casesleft p{display: block;position:absolute;bottom: 41px;width: 367px;left: 44px;}
.casesright{width: 724px;height: 376px;float: right;position: relative;margin-top: 0px;margin-right: 300px;background: #f0f8ff;}
.caseright{width: 724px;height: 125.3px;}
.number{font-size: 50px;float: left;border-right: 1px solid #000;position: relative;margin-top: 25px;padding-right:0px;width: 100px;}
.caseright_text{margin: 25px;position: relative;width:550px;float: right;line-height: 25px;}
.caseright:hover{background: #fff;}

/*-----问题---------*/
.problems{width: 100%;height: 522px;position: relative;margin-top: 0px;background: #ff359a;}
.problemsleft{width: 750px;height: 522px;position: relative;margin-top: 0px;float: left;}
.problemsleft img{width: 750px;height: 522px;}
.problemsright{width: 750px;height: 522px;position: relative;margin-top: 0px;margin-right: 300px;float: right;}
.problemsright h1{display: block;position: relative;margin-top: 49px;margin-left: 66px;color: #fff;}
.problemsright h4{display: block;position: relative;margin-top: 16px;margin-left: 66px;color: #fff;}
.problem{width: 680px;height: 150px;background: #fff;position: relative;margin-top: 20px;margin-left: 66px;}
.problem img{width: 160px;height: 150px;display: block;float: left;}
.problemtext{width: 520px;height: 150px;float: left;}
.problemtext h3{display: block;position:relative;margin-top: 31px;font-weight: bold;}
.problemtext p{display: block;position:relative;margin-right: 130px;margin-top: 31px;}

/*-----LOGO---------*/
.logo{width: 100%;height: 242px;position: relative;margin-top: 0px;background: #f0f8ff;}
.logoimg{width: 1200px;height: 242px;position: relative;margin: 0 auto;}
.logoimg img{display: block;float: left;position: relative;margin-top: 64px;}

/*-----FOLLOW---------*/
.follow{width: 100%;height:58px;position: relative;margin-top: 0px;background: #ff359a;color: #fff;line-height: 58px;}
.followright{width: 1200px;height: 58px;position: relative;margin: 0 auto;}
.followright p{display: block;float: right;}
.followright img{display: block;float: right;}
