/*----contentleft----*/
.contentleftnews{position: relative;margin-top: 40px;margin-left: 0px;width: 874.4px;height: 171px;}
.contengleftnews img{position: relative;margin-top: 0px;margin-left: 0px;float: left;}
.contentleftnews h5{display: block;position: absolute;top: 0px;left: 320px;float: left;font-family: "Arial Negreta","Arial";color: #000;font-weight: bold;}
.contentleftnews p{display: block;position: absolute;top: 30px;left:320px;right: 40px;font-size: 13px;margin-top: 10px;line-height: 25px;}