.contentleftnews{position: relative;margin-top: 40px;margin-left: 0px;width: 874.4px;height: 216px;}
.contentleftnewsimg{position: relative;margin-top: 0px;float: left;width: 281px;height: 216px;}
.contentleftnew{position: relative;margin-left: 20px;margin-right: 20px;float: left;width: 553.4px;height: 216px;}
.contentleftnew_line p{font-weight: bold;}
.contentleftnew h4{color: #fff;line-height: 28px;font-size: 16px;}
.contentleftnew_line p{line-height: 28px;font-size: 16px;}
.contentleftnews_text{position: relative;margin-left: 0px;margin-top: 0px;width: 553.4px;height: 216px;}
.contentleftnew_line{width: 340px;height: 20px;font-size: 14px;}
.contentleftnew_line a{color: black;}
.contentleftnew_text a{color:#fff;}
.contentleftnew_text h4{position: absolute;bottom: 0px;right: 0px;}
.contentleftnew_text span{font-size: 13px;line-height: 28px;}
.contentleftnew p{display: block;width: 553.4px;height: 20px;position: relative;margin-left: 0px;margin-top: 10px;} 
.contentleftnew h3{display: block;width: 300px;height: 20px;position: relative;margin-left: 0px;margin-top: 10px;}
.contentleftnew_text li{float: left;border: 1px solid #990066;color: #fff;background: #990066;margin-left: 20px;padding-left: 10px;padding-right: 10px; }
.contentleft_text{position: relative;margin-left: 10px;margin-right: 20px;float: left;width: 740px;height: 700px;margin-top: 20px;}
.contentleft_text h5{display: block;position: relative;margin-top: 20px;}
.contentleft_img{position: relative;margin-top: 20px;}